<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
      {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'vendor/fonts/circular-std/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'libs/css/image.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/vector-map/jqvmap.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jvectormap/jquery-jvectormap-2.0.2.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    <link href="{% static 'vendor/bootstrap-colorpicker/%40claviska/jquery-minicolors/jquery.minicolors.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/b-1.5.6/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <title>Lylli Shoes</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg  fixed-top" style="background: linear-gradient(90deg, rgba(0, 0, 0, 1)33%,rgba(223,45,224,1)100%,rgba(0,212,255,1)100%);
            border-bottom: none;">
                <span id="nlylli"><a class="navbar-brand" style='color:#ff25c6' href="#">Lylli Shoes</a></span>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">

                        <!-- <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">

                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li> -->
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{ user }}</h5>
                                </div>

                                <a class="dropdown-item" href="{%url 'logout'%}"><i class="fas fa-power-off mr-2"></i>Sair</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar" style="background: linear-gradient(0deg, rgba(255, 0,249, 1) 0%, rgba(0, 0, 0, 1) 90%);">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <style>
                        #lista_sidebar li.nav-item a{
                            background: linear-gradient(90deg,#ff64c4,transparent)!important;
                            color: white;
                        }
                        #lista_sidebar li{
                            font-weight: 700;
                            color: white;
                            font-size: 15px;
                        }
                        </style>
                        <ul class="navbar-nav flex-column" id='lista_sidebar'>
                            <li class="nav-divider">
                               <i class='fa fa-cog'></i> MENU DE OPÇÕES
                            </li>
                             <li class="nav-item ">
                                <a class="nav-link active" href="/atendentes/view"><i class="fa fa-users"></i>ATENDENTES </a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                </li>
                                <li class="nav-item ">
                                   <a class="nav-link active" href="/clientes/"><i class="fa fa-fw fa-user-circle"></i>CLIENTES </a>
                                   <div id="submenu-1" class="collapse submenu" style="">
                                   </li>
                                   <li class="nav-item ">
                                      <a class="nav-link active" href="/produtos"><i class="fa fa-tag"></i>PRODUTOS </a>
                                      <div id="submenu-1" class="collapse submenu" style="">
                                      </li>
                                      <li class="nav-item ">
                                         <a class="nav-link active" href="/pedidos"><i class="fa fa-list"></i>PEDIDOS </a>
                                         <div id="submenu-1" class="collapse submenu" style="">
                                         </li>
                                         <li class="nav-item ">
                                            <a class="nav-link active" href="/fornecedor/"><i class="fa fa-truck"></i>FORNECEDORES </a>
                                            <div id="submenu-1" class="collapse submenu" style="">
                                            </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
              {% block conteudo %}
              {% endblock %}
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          Lylli Shoes
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/b-1.5.6/datatables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 js-->
    <!-- <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js'%}"></script> -->
    <!-- bootstrap bundle js-->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js'%}"></script>
    <!-- slimscroll js-->
    <script src="{% static 'vendor/slimscroll/jquery.slimscroll.js'%}"></script>
    <!-- chartjs js-->
    <script src="{% static 'vendor/charts/charts-bundle/Chart.bundle.js'%}"></script>
    <script src="{% static 'vendor/charts/charts-bundle/chartjs.js'%}"></script>
    <!-- main js-->
    <script src="{% static 'libs/js/main-js.js' %}"></script>
    <!-- jvactormap js-->
    <script src="{% static 'vendor/jvectormap/jquery-jvectormap-2.0.2.min.js'%}"></script>
    <script src="{% static 'vendor/jvectormap/jquery-jvectormap-world-mill-en.js'%}"></script>
    <!-- sparkline js-->
    <script src="{% static 'vendor/charts/sparkline/jquery.sparkline.js'%}"></script>
    <script src="{% static 'vendor/charts/sparkline/spark-js.js'%}"></script>
    <script src="{% static 'js/plugins/jquery.mask.js'%}"></script>
    <script src="{% static 'js/plugins/jquery.mask.min.js'%}"></script>
     <!-- dashboard sales js-->
    <script src="{% static 'libs/js/dashboard-sales.js'%}"></script>
    <script src="{% static 'js/atendente/atendente.js'%}"></script>
    <script src="{% static 'js/funcionario/funcionario.js'%}"></script>
    <script src="{% static 'js/produto/produto.js'%}"></script>
    <script src="{% static 'js/pedido/pedido.js'%}"></script>
    <script src="{% static 'js/fornecedor/fornecedor.js'%}"></script>
    <script src="{% static 'js/cliente/main.js'%}"></script>
</body>

</html>
