{% extends 'base/base.html' %}
{% block conteudo %}
<form class="form_produto"  novalidate="">
{% csrf_token %}
<div class="row">
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom01">NOME</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="nomep"><i class="fa fa-angle-double-right"></i></span>
</div>
<input type="text" class="form-control" id="nomep" placeholder="Nome do produto" name='produto_nome' aria-describedby="inputGroupPrepend" required="">
<div class="invalid-feedback">
Favor, informar o nome
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom02">DESCRIÇÃO</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></span>
</div>
<input type="text" class="form-control" id="validationCustomUsername" placeholder="Descreva o produto" name='produto_descricao' aria-describedby="inputGroupPrepend" required="">
<div class="invalid-feedback">
Favor, informar uma descrição
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom02">COR</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></span>
</div>
<input type="color" style="height: 36px;" id="hue-demo" name='produto_cor' class="form-control demo" data-control="hue" placeholder="Informe o código da cor">
<div class="invalid-feedback">
Favor informar uma cor
</div>
</div>
</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom02">PREÇO</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></span>
</div>
<input type="text" class="form-control" id="precoc" placeholder="Preço do produto" name='produto_preco' aria-describedby="inputGroupPrepend" required="">
<div class="invalid-feedback">
Favor informar um valor
</div>
</div>

</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom02">TAMANHO</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></i></span>
</div>
<select class="form-control" id="input-select" name='produto_tamanho'>
<option >Selecione  um tamanho</option>
<option value='35'>35</option>
<option value='36'>36</option>
<option value='37'>37</option>
<option value='38'>38</option>
<option value='39'>39</option>
<option value='40'>40</option>
<option value='41'>41</option>
<option value='42'>42</option>
<option value='43'>43</option>
<option value='44'>44</option>
<option value='45'>45</option>
<option value='46'>46</option>
</select>
<div class="invalid-feedback">
Favor, informar um tamanho
</div>
</div>

</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom02">ESTOQUE</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></span>
</div>
<input type="text" class="form-control" id="estoquec" placeholder="Quantidade em estoque" name='produto_estoque' aria-describedby="inputGroupPrepend" required="">
<div class="invalid-feedback">
Favor, informar o estoque
</div>
</div>

</div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="margin-top:3%;margin-bottom:6%">
<button class="btn btn-primary" type="button" id="cadastra_produto">CADASTRAR</button>
<button class="btn btn-danger" type="button" id="limpa_campos">LIMPAR</button>
</div>
</form>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<div class="card">
<h5 class="card-header">TABELA DE PRODUTOS</h5>
<div class="card-body">
<div class="table-responsive ">
<table class="table" id='tabela_produto'>
<thead>
<tr>
<th scope="col">NOME</th>
<th scope="col">DESCRIÇÃO</th>
<th scope="col">COR</th>
<th scope="col">TAMANHO</th>
<th scope="col">PREÇO</th>
<th scope="col">ESTOQUE</th>
<th scope="col">AÇÕES</th>
</tr>
</thead>
<tbody>

</tbody>
</table>
</div>
</div>
</div>
</div>


<div id="Excluir_Produto" class="modal fade" role="dialog">
<div class="modal-dialog">
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header" style="background:black;">
<h4 class="modal-title" style="color:white;">Excluir Produto</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
<h4>Você realmente deseja excluir esse produto?</h4>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-outline-dark" id="destroy_produto">EXCLUIR</button>
<button type="button" class="btn btn-dark" data-dismiss="modal">VOLTAR</button>
</div>
</div>
</div>
</div>




<div id="Editar_produto" class="modal fade" role="dialog">
<div class="modal-dialog modal-lg">
<!-- Modal content-->
<div class="modal-content">
<div class="modal-header" style="background:black;">
<h4 class="modal-title" style="color:white;">Editar Produto</h4>
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
<div class="col-md-12">
<form  id="editar_produto_form" novalidate="">
{% csrf_token %}
<div class="row">

<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom01">NOME</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></span>
</div>
<input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" name='produto_nome_edit' aria-describedby="inputGroupPrepend" required="">
<div class="invalid-feedback">
Por Favor ,Digite um nome
</div>
</div>

</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom02">DESCRIÇÃO</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></span>
</div>
<input type="text" class="form-control" id="validationCustomUsername" placeholder="E-mail" name='produto_descricao_edit' aria-describedby="inputGroupPrepend" required="">
<div class="invalid-feedback">
Digite um Descricao
</div>
</div>

</div>

<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom02">COR</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></span>
</div>
<input type="color" id="hue-demo" style="height: 36px;" name='produto_cor_edit' class="form-control demo" data-control="hue" value="#ff6161">
<div class="invalid-feedback">
Digite um email
</div>
</div>

</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom02">PREÇO</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></span>
</div>
<input type="text" class="form-control" id="validationCustomUsername" placeholder="senha" name='produto_preco_edit' aria-describedby="inputGroupPrepend" required="">
<div class="invalid-feedback">
Digite um email
</div>
</div>

</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom02">TAMANHO</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></i></span>
</div>
<select class="form-control" id="input-select" name='produto_tamanho_edit'>
<option value= '0'>Selecione um tamanho</option>
<option value='35'>35</option>
<option value='36'>36</option>
<option value='37'>37</option>
<option value='38'>38</option>
<option value='39'>39</option>
<option value='40'>40</option>
<option value='41'>41</option>
<option value='42'>42</option>
<option value='43'>43</option>
<option value='44'>44</option>
<option value='45'>45</option>
<option value='46'>46</option>
</select>
<div class="invalid-feedback">
Digite um email
</div>
</div>

</div>
<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
<label for="validationCustom02">ESTOQUE</label>
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-angle-double-right"></i></span>
</div>
<input type="text" class="form-control" id="validationCustomUsername" placeholder="Estoque" name='produto_estoque_edit' aria-describedby="inputGroupPrepend" required="">
<div class="invalid-feedback">
Digite um email
</div>
</div>

</div>

</form>
</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-outline-dark" id="edit_produtos">EDITAR</button>
<button type="button" class="btn btn-dark" data-dismiss="modal">VOLTAR</button>
</div>
</div>
</div>
</div>
{% endblock %}
